<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="{{ site.author.name }}" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/desert.css" type="text/css" />
    <title>{% if site.title %} {{ site.title }} {% endif %}</title>
    {% if page.description %} <meta name="description" content="{{ page.description }}" /> {% endif %}
    {% if page.tags %} <meta name="keywords" content="{{ page.tags }}" /> {% endif %}    
</head>
<body>
	<div class="site">
		<div class="title">
			<a href="/">{{ site.title }}</a>
      <a class="extra" href="/">home</a>
		</div>
    {{ content }}
    
    <div class="footer">
      <div class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">
          <img alt="知识共享许可协议" src="http://i.creativecommons.org/l/by-nc/3.0/cn/88x31.png" />
        </a>
        本作品由<a href="kurtlau.github.com" >Kurtlau</a>创作，采用<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">署名-非商业性</a>许可
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/prettify.js"></script>
  <script type="text/javascript">prettyPrint();</script>
</body>
</html>